@charset "UTF-8";

*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  /* cursor: url('../images/corsor_260202.png') 5 5, pointer; */
}

ul{list-style: none;}
a{color: black; text-decoration: none;}
img{vertical-align: top; border: none;}
p, div, span, h1, h2, h3, h4, h5, h6 {
  word-break: keep-all;      
  overflow-wrap: break-word; 
}

/* color variables */
:root{
  --color-main-text :#222222;
  --color-sub-text : #333333;

  --color-primary : #10365C;
  /* --color-primary : #2c5044; */
  --color-secondary : #d2b48c;
  --color-bg : #fbf9f6;
  --color-white :#fdfdfd
}


/* Pretendard */
@font-face {
  font-family: 'Pretendard';
  src: url('../assets/font/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/font/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: fallback;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/font/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/font/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: fallback;
}

/* RobotoCondensed (EN) */
@font-face {
  font-family: 'RobotoCondensed';
  src: url('../assets/font/RobotoCondensed-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: fallback;
}

/* playfair */
/* playfair-display-regular - latin */
@font-face {
  font-display: fallback; 
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/playfair-display-v40-latin/playfair-display-v40-latin-regular.woff2') format('woff2');
}
/* playfair-display-500 - latin */
@font-face {
  font-display: fallback; 
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/font/playfair-display-v40-latin/playfair-display-v40-latin-500.woff2') format('woff2'); 
}
/* playfair-display-600 - latin */
@font-face {
  font-display: fallback; 
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/font/playfair-display-v40-latin/playfair-display-v40-latin-600.woff2') format('woff2');
}
/* playfair-display-700 - latin */
@font-face {
  font-display: fallback; 
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/font/playfair-display-v40-latin/playfair-display-v40-latin-700.woff2') format('woff2'); 
}
html{
  scrollbar-gutter: stable;
}

body {
  font-family: 'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    sans-serif;
  color: var(--color-main-text);
  overflow-x: hidden;
}


/* 영문 강조용 */
.font-en {
  /* font-family: 'RobotoCondensed', 'Pretendard', sans-serif; */
  font-family: 'Playfair Display', 'Pretendard', sans-serif;
  letter-spacing: 0.02em;
}

/* header css ---------------------------------------------*/
#header {
  width: 100%;
  /* height: 150px; */
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  transition: all 0.4s ease
}

.hd-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px;
}
.hd-wrap .logo{
  position: absolute;
  top: 47%; left: 5%;
}
.hd-wrap .logo img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  transition: opacity 0.4s ease;
}
.logo-b {
  opacity: 1;
}
.main-page .logo-b {
  opacity: 0;
}
.main-page .logo-w {
  opacity: 1;
}

/* 스크롤 시 상태: #header에 scrolled 클래스가 붙었을 때 / 메인페이지*/
#header.scrolled .logo-w {
  opacity: 0;
}

/* .main-page #header .logo-b, */
#header.scrolled .logo-b {
  opacity: 1;
}

/* .gnb에 호버가 되었을 때, .hd-wrap 안에 있는 .logo를 찾아서 변경 */
.hd-wrap:has(.gnb:hover) .logo-b {
  opacity: 1;
}

.gnb{
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  gap: 60px;
  position: absolute;
  top: 35%; left: 50%;
  transform: translateX(-50%);
  padding-top: 10px;
}
.gnb::after{
  content: '';
  position: absolute;
  top: 65px; 
  left: 0; width: 100%; height: 1px;
  background-color: var(--color-primary); 
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

#header.scrolled .gnb::after{
  background-color: var(--color-primary);
}
.gnb:hover::after{
  opacity: 1;
  visibility: visible;
}
.gnb > li{
  text-align: center;
  flex: none;
}

.gnb .nav-indicator{
  position: absolute;
  top: 65px;   
  left: 0px;                   
  transform: translateY(-50%);               
  width: 8px; height: 8px;
  background-color: var(--color-primary);
  border-radius: 50%;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); 
  opacity: 0;
  pointer-events: none;
  display: none;
}

.gnb:hover .nav-indicator{
  display: block;
}
.main-page .gnb:hover > li > a,
.main-page #header.scrolled .gnb > li > a,
.gnb > li > a{
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: 0 auto;
  color:  var(--color-main-text);
  font-size: 18px;
  font-weight: 500;
  transition: all 0.4s ease;
}
.gnb > li > a:hover{
  color: var(--color-primary);
}
.main-page .gnb > li > a{
  color:  var(--color-white);
}

.gnb .sub{
  margin-top: 50px;
  overflow: hidden;
  height: 0px;
}
.gnb .sub li{
  margin-top: 15px;
}
.gnb .sub li a{
  font-size: 16px;
  font-weight: 400;
  color: var(--color-sub-text);
  position: relative;
}

.gnb .sub li a::after{
  content: " ";
  display: block;
  position: absolute;
  bottom: -4px; left: 0;
  width: 0%;
  height: 1px;
  background-color: var(--color-sub-text);
  transition: all 0.3s;
}
#header.scrolled .gnb .sub li a::after{
  background-color: var(--color-sub-text);
}
.gnb .sub li:hover a::after{
  width: 100%;
}
.wrap-gnb{
  background-color: #ffffff;
  height: 0;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: absolute; 
  top: 0; 
  left: 0;
  z-index: -1;
}
#header.scrolled .wrap-gnb{
  background-color: rgba(255, 255, 255,0.95);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
  height: 100px;
}

#header.scrolled {
  background-color:rgba(255, 255, 255,0.95);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
/* GNB 열렸을 때 헤더 배경 제거 */
#header.gnb-open.scrolled {
  background: transparent;  
}


/* side-menu */
.hd-wrap .side-menu{
  display: flex;
  align-items: center;
  position: absolute;
  top: 46%; right: 3%;
}
.hd-wrap .side-menu li:first-child{
  margin-left: 40px ;
}

/*공통 버튼 베이스 (a, button 공통) */
.hd-wrap .side-menu li a,
.hd-wrap .side-menu li button {
  font-weight: 400;
  font-size: 15px;
  padding: 5px 18px;
  border: 1px solid var(--color-sub-text);
  color: var(--color-sub-text);
  background: none;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}

 /* 수정 제안: li 자체를 flex 박스로 */
.status-logged-out, .status-logged-in {
  display: flex;
  align-items: center;
  gap: 10px; /* margin-left 대신 gap 사용 */
}
/*메인 페이지 - 투명 헤더일 때  */
.main-page #header:not(.scrolled) .hd-wrap .side-menu li a,
.main-page #header:not(.scrolled) .hd-wrap .side-menu li button {
  color: var(--color-white);
  border-color: var(--color-white);
}

/* 스크롤 됐을 때 OR 일반 서브 페이지 (컬러 테두리) */
#header .hd-wrap .gnb:hover ~ .side-menu li a,
#header .hd-wrap .gnb:hover ~ .side-menu li button,
#header.scrolled .hd-wrap .side-menu li a,
#header.scrolled .hd-wrap .side-menu li button {
  color: var(--color-sub-text);
  border-color: var(--color-sub-text);
}

/* Hover 상태 (공통) 그냥호버/스크롤호버 */
#header.scrolled .hd-wrap .side-menu li a:hover,
#header.scrolled .hd-wrap .side-menu li button:hover,
.hd-wrap .side-menu li a:hover,
.hd-wrap .side-menu li button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}

/* 메인페이지 스크롤 전 hover */
.main-page #header:not(.scrolled) .hd-wrap .side-menu li a:hover,
.main-page #header:not(.scrolled) .hd-wrap .side-menu li button:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border-color: var(--color-white);
}

/* 기본 상태: 로그인 후 메뉴 숨김 */

.status-logged-in {
  display: none;
}

/* 로그인 상태 클래스가 붙었을 때 */
body.is-logged-in .status-logged-in {
  display: flex;
  gap: 10px;
}

body.is-logged-in .status-logged-out {
  display: none;
}


/* --------------------------------------------------- */
.mo-gnb-btn{
  width: 34px;
  height: 34px;
}
.mo-gnb-btn img{
  width: 34px;
  height: 34px;
  cursor: pointer;
  position: absolute;
  top: 0; left: 0;
}
.main-page .mo-gnb-btn .menu-ico{
  opacity: 1;
}
.main-page #header.scrolled .mo-gnb-btn .menu-ico,
.main-page .mo-gnb-btn .menu-ico-b{
  opacity: 0;
}
.main-page #header.scrolled .mo-gnb-btn .menu-ico-b,
.mo-gnb-btn .menu-ico-b{
  opacity: 1;
} 

/* 모바일 gnb 영역 --------------------------------------*/
.mo-main-page-header,
.mo-top-area,
.wrap-mo-gnb {
  display: none !important;
}
.mo-main-page-header {
  position: fixed;
  top: 0; width: 100%; height: 130px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mo-gnb-btn{
  position: absolute;
  top: 30px; right: 8%;
  display: none; 
}
.mo-gnb-btn .close-ico{
  display: none;
}

/* 공통 설정: 오른쪽 바깥에 대기 */
.mo-top-area, .wrap-mo-gnb {
  position: fixed; 
  right: -100%;    
  width: 100%;      
  transition: right 0.4s ease-in-out; 
  z-index: 1000;
  display: block !important;
}
.mo-top-area{
  width: 100%;
  background-color: var(--color-primary);
  display: none;
  position: relative;
  z-index: 2000;
  top: 0;
  height: 130px;
}
/* .mo-header.active {
  pointer-events: none;
} */
.mo-top-area li.wrap-login,
.mo-top-area li.wrap-logout{
  position: absolute;
  bottom: 20px;
  right: 8%;
}
.mo-status-logged-in{
  display: none;
}
body.is-logged-in .mo-status-logged-in{
  display: flex;
}
body.is-logged-in .mo-status-logged-out{
  display: none;
}
.mo-top-area li .mo-logout{
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  color: var(--color-white);
  font-size: 15.5px;
  font-weight: 300;
  cursor: pointer;
}
.mo-top-area li a{
  color: #fdfdfd;
  font-size: 16px;
  font-weight: 300;
  pointer-events: auto !important;
}
.mo-top-area li .mo-logout,
.mo-top-area li a.mo-join{
  margin-left: 10px;
}

.mo-logo{
  position: absolute;
  top:35px; left: 8%;
  display: none;
}
.mo-logo a img{
  width: 100px;
  position: absolute;
  top:0px; left: 0%;
  transition: opacity 0.4s ease;
}



/* 기본색상 및 스크롤됐을 때 */
.mo-logo .mo-logo-w,
#header.scrolled .mo-logo .mo-logo-w{
  opacity: 0;
}
#header.scrolled .mo-top-area .mo-logo .mo-logo-w,
.mo-logo .mo-logo-b,
#header.scrolled .mo-logo .mo-logo-b{
  opacity: 1;
}

/* 메인기본색상 및 모바일메뉴 나왔을 때 */
.mo-header.active .mo-logo .mo-logo-w,
.main-page .mo-logo .mo-logo-w{
  opacity: 1 ;
}
.mo-header.active .mo-logo .mo-logo-b,
.main-page .mo-logo .mo-logo-b{
  opacity: 0;
}

.wrap-mo-gnb{
  top: 130px;
  height: calc(100vh - 100px); /* 전체 높이에서 top-area만큼 제외 */
  background-color: #fff;
  /* display: none; */
}

.mo-gnb-container {
  display: flex;
  height: 100vh;
  background: #F1F1F1;
}

/* 좌측 대메뉴 */
.mo-main-menu {
  width: 35%;
  background: #DCDAD8;
}

.mo-main-menu a{
  color: var(--color-main-text);
}
.mo-sub-content a{
  color: var(--color-main-text);
  margin-bottom: 20px;
  display: block;
  position: relative;
  font-size: 15px;
}
.mo-sub-content a::after{
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d9d9da;
  position: absolute;
  bottom: -10px; left: 0;
}
.mo-main-menu li {
  padding: 20px 15px;
  font-size: 14px;
}

.mo-main-menu li.active {
  background: #F1F1F1; /* 선택된 메뉴 강조 */
  font-weight: bold;
  color: #10365C;
}

/* 우측 서브메뉴: 넓고 흰 배경 */
.mo-sub-content {
  width: 65%;
  padding: 20px;
}

.tab-content {
  display: none; /* 평소엔 숨김 */
}

.tab-content.active {
  display: block; /* 선택된 것만 보여줌 */
}
/* ------------------------------------------------------ */


/* 서브페이지 타이틀  공통----------------------- */
.sub-page-header{
  width: 85%;
  margin: 0 auto;
  padding: 150px 0;
}
.wrap-bd-header {
  display: flex;
  flex-direction: column;   
  list-style: none;
  gap: 80px;
  margin: 0;
  border-bottom: 1px solid #c4c4c4; 
}
.title-area {
  text-align: left;
}
.title-area h2{
  color: var(--color-primary);
  font-size: clamp(1.8rem, 2.2vw, 3rem);
  line-height: 1.3;
}
.title-area p{
  color: var(--color-sub-text);
  font-size: clamp(1rem, 1.6vw, 1.125rem);
  font-weight: 300;
  margin-top: 12px;
}
.tab-menu-container {
  align-self: flex-end;
  position: relative;
  display: inline-block; 
}
.tab-wrapper {
  display: flex; 
  list-style: none;
  padding: 0;
  margin: 0;
}
.tab-wrapper li {
  font-size: clamp(1rem, 1.6vw, 1.25rem);
  padding: 15px 25px;
  cursor: pointer;
  color: #888;
  transition: color 0.3s;
}
.tab-wrapper li.active {
  color: var(--color-primary);
  font-weight: bold;
}

/* 인디케이터 스타일 */
.tab-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #000;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); 
}
/* --------------------------------------------- */

/* 서브페이지 작은타이틀/ 설명텍스트 공통 */
/* h3, p  텍스트 공통 */
.common-title{
  color: var(--color-secondary);
  font-size: clamp(1.2rem, 2.2vw, 1.6rem);
  font-weight: 500;
  line-height: 1.5;
}
.common-desc{
  color: var(--color-sub-text);
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: 1.6;
  margin-top: 8px;
}


/* footer css --------------------------------------------*/
#footer{
  width: 100%;
  height: 300px;
  background-image: url(../images/footer/footer_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap-ft{
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}


.wrap-ft .logo-ft a img{
  width: 80px;
  opacity: 0.7;
}

.wrap-ft .contents{
  margin-left: 100px;
  height: 100%;
  font-size: 14px;
  padding: 60px 0 25px;
}
.wrap-ft .contents .ft-menu a{
  color: #c4c4c4;
  margin-right: 18px;
  transition: all 0.5s;
  font-weight: 400;
}
.wrap-ft .contents .ft-menu a:hover{
  color: var(--color-white);
}

.wrap-ft .contents .info{
  color: #c4c4c4;
  font-weight: 300;
  line-height: 1.6;
  margin-top: 55px;
}
.wrap-ft .contents .info b{
  font-weight: 700;
}
.wrap-ft .contents .info .copyright{
  margin-top: 70px;
  color: #848D89;
}
.wrap-ft .site-con{
  width: 180px;
  position: absolute;
  top: 50px;
  right: 0px;
}
.wrap-ft .site-con>a {
  color: #c4c4c4;;
  padding: 8px;
  font-size: 14px;
  display: block;
  border-bottom: 1px solid #fdfdfd;
}
.wrap-ft .site-con>a::after{
  content: "\25BC";
  display: block;
  font-size: 0.8em;
  position: absolute;
  top: 10px; right: 10px;
}
.wrap-ft .site-con ul{
  background-color: #343735;
  padding: 10px;
  position: absolute;
  top: 34px; left: 0;
  width: 180px;
  display: none;
}
.wrap-ft .site-con ul a{
  color: #fdfdfd;
  line-height: 1.6;
  font-size: 15px;
}
.wrap-ft .site-con ul a:hover{
  text-decoration: underline;
}

/* top-btn----------------------------- */
.top-btn{
  width: 70px;
  height: 70px;
  background-color: var(--color-secondary);
  opacity: 0.8;
  position: fixed;
  bottom: 155px;
  right: 50px;
  border-radius: 20%;
  text-align: center;
  z-index: 999;
  cursor: pointer;
  animation: top 1.8s infinite;
  backdrop-filter: blur(10px);      /* 뒤에 있는 것만 흐리게 */
  -webkit-backdrop-filter: blur(10px);  /* Safari 대응 */
  display: none;
}
.top-btn span{
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 45%; left: 25%;
  transform: rotate(-45deg);
}
.top-btn span::after{
  content: " ";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 10px; left: 10px;
  transform: rotate(90deg);
}



/* 1279px 이하  */
@media (max-width: 1279px) {

  body.no-scroll {
    overflow: hidden; 
    height: 100vh;    
  }
  #header.scrolled {
    background:transparent;
    box-shadow: none;
  }
  .hd-wrap{
    display: none;
  }
  .mo-logo{
    display: block;
  }
  .mo-main-page-header {
    display: flex !important;
  }
  .mo-top-area, .wrap-mo-gnb {
    display: block !important; /* 모바일에서만 다시 나타남 */
    position: fixed;
  }
  .mo-gnb-btn{
    display: block;
  }
  .wrap-mo-gnb.active, .mo-top-area.active {
    right: 0;
    display: block;
  }
  .hd-wrap .side-menu li a{
    display: none;
  }
  .wrap-gnb, .gnb > li > .sub {
    height: auto !important; 
    display: none; /* 모바일에서는 클릭 시에만 */
  }

  /* 기본 모바일 헤더 상태 */
  .mo-main-page-header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100px; 
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }
  /* 스크롤 되었을 때  */
  .mo-main-page-header.scrolled {
    height: 80px; 
    background-color: rgba(255, 255, 255, 0.95); 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }

  /* 서브페이지 타이틀  공통----------------------- */
  .sub-page-header{
    padding: 80px 0;
  }
}

/* 974px 이하 */
@media (max-width: 974px) {

  /* footer */
  .wrap-ft{
    width: 95%;
  }
  .wrap-ft .contents{
    margin-left: 50px;
  }
  .wrap-ft .site-con{
    right: 0px;
    top: 45px;
  }
}

@media (max-width: 767px) {
  /* 서브페이지 타이틀 공통 */
  .sub-page-header{
    padding: 50px 0;
  }
  .tab-wrapper li {
    padding: 15px 15px;
  }
  /* footer */
  #footer{
    height: 450px;
  }
  .wrap-ft{
    display: block;
    padding-top: 50px;
  }

  .wrap-ft .contents{
    margin-left: 0px;
    padding-bottom: 0px;
    height: auto;
    box-sizing: border-box;
  }


  /* top-btn */
  .top-btn{
    width: 50px;
    height: 50px;
    right: 20px;
  }
  .top-btn span{
    left: 15%;
  }

}


@keyframes top{
    0%{
        bottom: 30px;
    }
    50%{
        bottom: 40px;
    }
    100%{
        bottom: 30px;
    }
}