@charset "UTF-8";

main{
  margin-top: 100px;
}

.contents-area{
  width: 100%;
  margin: 0 auto;
}
.tab-content{
  display: none;
}
.tab-content.active {
  display: block;
}


.destination-top > .text-area{
  width: 85%;
  margin: 0 auto;
}
.destination-main-img{
  width: 100%;
  margin-top: 90px;
}
.destination-main-img img{
  max-width: 100%;
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 화살표버튼 내부의 기본 아이콘(SVG 등) 모두 숨기기 */
.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-button-next svg,
.swiper-button-prev svg {
  display: none !important;
}

.swiper-button-next {
  background: url('../images/destinations/btn-next.png') no-repeat center;
  background-size: contain;
  width: 50px; 
  height: 50px;
  right: 5% !important;
}

.swiper-button-prev {
  background: url('../images/destinations/btn-prev.png') no-repeat center;
  background-size: contain;
  width: 50px;
  height: 50px;
  left: 50px !important;
}

/* 인포------------------------------------------ */
.wrap-destination-info{
  width: 85%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}
.wrap-table{
  width: 50%;
}
.info-table {
  display: grid;
  width: 95%;
  /* max-width: 600px; */
  grid-template-columns: 120px 1fr; 
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.row {
  display: contents; 
}

.tb-header {
  grid-column: 1 / -1; 
  font-weight: bold;
}

.info-table{
  margin-top: 20px;
}

/* 왼쪽 라벨 열 */
.label {
  padding: 12.5px;
  background-color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

/* 오른쪽 내용 열 */
.content {
  padding: 12.5px;
  border-bottom: 1px solid #eee;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}

/* 라벨이 없는 시설 추가 줄 처리 */
.no-label .content {
  grid-column: 2; /* 두 번째 열에 강제 배치 */
}


/* 지도 */
#map {
  width: 50%;
  aspect-ratio: 2/1; 
  background-color: #eee;
}

/* ------------------------------------------------------ */

/* 상화헌---------------------------------- */
.cafe-sanghwaheon{
  width: 45%;
  margin: 150px auto ;
}
.cafe-text > img{
  margin: 0 0 -60px -50px;
}
.cafe-text > h2{
  font-size: clamp(1.5rem, 2vw, 2.25rem);
  color: var(--color-main-text);
}
.cafe-text > p{
  font-size: clamp(1rem, 1.8vw, 1.125rem);
  color: var(--color-sub-text);
  line-height: 1.6;
  margin-top: 30px;
}

.cafe-img-area{
  width: 100%;
  margin: 40px 0;
}
.cafe-img-area > img{
  width: 100%;
}





/* 멤버십 혜택 컨텐츠 영역 */
.wrap-memeber-benefit{
  width: 100%;
  background-color: #f5f5f5;
  padding: 100px 0;
}
.benefits-contents{
  width: 85%;
  margin: 0 auto;
}
.benefits-contents > .text-area{
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.text-area > a{
  color: var(--color-secondary);
  font-size: 18px;
}

.benefits-contents > .contents{
  margin-top: 25px;
}
.destination-benefit{
  display: flex;
  margin-bottom: 20px;
}
.destination-benefit-img-area{
  width: 50%;
  position: relative;
}
.destination-benefit-img-area img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.destination-benefit-text-area{
  width: 50%;
  background-color: var(--color-white);
  padding: 30px 40px;
}
.destination-benefit-text-area > h3{
  font-size: clamp(1.2rem, 1.8vw, 1.75rem);
  margin-bottom: 18px;
}
.destination-benefit-text-area > p{
  font-size: clamp(0.975rem, 1.6vw, 1.25rem);
  color: var(--color-sub-text);
  line-height: 1.5;
}
.destination-benefit-text-area > .sub-txt{
  color: #5b5b5b;
  font-weight: 300;
}
.destination-benefit-text-area > p.sub-txt:nth-of-type(3){
  margin-bottom: 20px;
}



/* 1024px 이하 */
@media (max-width: 1024px) {
  .wrap-destination-info{
    width: 85%;
    margin: 100px auto;
    display: block;
  }
  .wrap-table{
    width: 100%;
  }
  .info-table {
    width: 100%;
  }
  /* 지도 */
  #map {
    width: 100%;
    height: 500px;
    margin-top: 30px;
  }

  .destination-benefit{
    display: block;
  }
  .destination-benefit-img-area{
    width: 100%;
  }
  .destination-benefit-text-area{
    width: 100%;
  }
}


/* 767px 이하 */
@media (max-width: 767px) {
  .destination-main-img{
    width: 85%;
    margin: 30px auto 0;
    border-radius: 10px;
    overflow: hidden;
  }

  .wrap-destination-info{
    margin: 50px auto;
  }
  #map {
    height: 400px;
    border-radius: 10px;
  }

  
  .wrap-memeber-benefit{
    padding: 50px 0;
  }
  .benefits-contents > .text-area{
    display: block;
  }
  .text-area > a{
    font-size: 16px;
    margin-top: 20px;
  }
  .destination-benefit-img-area{
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }
  .destination-benefit-text-area{
    width: 100%;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 0 0 10px 10px;
  }
}
    